APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

MATRIX_HOMESERVER_URL=https://matrix.example.org
MATRIX_ROOM_ID=!abcdef1234567890:example.org
MATRIX_ACCESS_TOKEN=xxx
